Enter book information: <br />

<%= form_for @book do |f| -%>
	Title: <%= f.text_field :title,:size => 44%> <br />
	Author Name: <%= f.text_field :name %> <br />
	<%= f.submit %>
<% end -%>

<hr />
List of all books: <br />

<!-- %= debug @movies %-->

<% if !@books.blank? %>
	
	<table border=1 class="topics">
		<tr>
			<th> Title </th>
			<th> Name </th>
		</tr>	
		
	<% for item in @books %>
	 
		<% if !(item.title.nil? || item.name.nil?) %>
		<tr>
				<td><%= link_to item.title, :controller => :reviews, :action => :new, :id => item.id %></td>
				<td><%= item.name %></td>
		</tr>
		<% end %>
	<% end %>
	</table>
	<% else%>
		No books yet
	<% end %>